<section>

  <header class="bg-body-secondary rounded p-3">
    <div>
      <h4>Основная тема задания</h4>
      <div class="text-uppercase">
        <span class="badge text-bg-danger">Сложность: упрощенная</span>
        <span class="badge text-bg-secondary ms-1">Доп тема 1</span>
        <span class="badge text-bg-secondary ms-1">Доп тема 2</span>
        <span class="badge text-bg-secondary ms-1">Доп тема 3</span>
      </div>
    </div>
  </header>

  <div class="bg-body-secondary rounded p-3 mt-2">
    <h5>Описание задание</h5>
    <div>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </div>
  </div>

  <div class="bg-body-secondary rounded p-3 mt-2">
    <h5>Решение</h5>
    <textarea class="form-control"></textarea>
  </div>

</section>
