<h5 class="text-bg-primary rounded-top p-3 m-0">Меню</h5>

<div class="bg-light rounded-bottom p-3">
  <h6>Статистика тренировки</h6>
  <table class="table table-sm table-light">
    <thead>
    <tr>
      <th>Назначено</th>
      <th>Решено</th>
      <th>Верно</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center">
      <td>{{ total }}</td>
      <td>{{ totalFinished }}</td>
      <td>{{ totalSuccessfullyCompleted }}</td>
    </tr>
    </tbody>
  </table>

  <h6>Назначить новое задание</h6>
  <div class="btn-group btn-group-sm w-100 mb-2">
    <button class="btn btn-sm me-1 btn-dark">Выбранной темы</button>
    <button class="btn btn-sm btn-dark">Случайной темы</button>
  </div>

  <select class="form-select form-select-sm">
    @for (subject of subjects; track subject.id) {
      <option [value]="subject">{{ subject.name }}</option>
    }
  </select>
</div>
