<div class="row">
  <div class="col-5">
    Начать задание
  </div>

  <div class="col-7">
    <div class="row">

      <div class="col-12">
        <div class="p-3">
          График последних игр
        </div>
      </div>

      <div class="col-6">
        <div class="p-3">
          До понижения
          Рейтинг
          До повышения
        </div>
      </div>

      <div class="col-6">
        <div class="p-3">
          График-Матрица умений
        </div>
      </div>

    </div>
  </div>
</div>
