<section class="bg-body-tertiary rounded">

  <header class="bg-body-secondary p-3 rounded rounded-bottom-0">

    <div class="d-flex justify-content-between">
      <div>
        <h5 class="mb-0">Задание</h5>
      </div>
      <div>
        <span class="badge text-bg-danger me-1">
          {{assignment.exercise.rank.name}}
          <span *ngFor="let s of assignment.exercise.subjects">
            <i class="bi bi-star-fill"></i>
          </span>
        </span>
      </div>
    </div>

    <div class="mt-1">
      <span *ngFor="let subject of assignment.exercise.subjects; last as last" [class.me-1]="!last"
            class="badge text-bg-secondary">
        {{subject.name}}
      </span>
    </div>

  </header>

  <div class="p-3">
    <span>
      {{assignment.exercise.contents}}
    </span>
  </div>

</section>
