<table [dataSource]="dataSource" cdk-table class="table table-sm table-striped">
  <ng-container cdkColumnDef="date">
    <th *cdkHeaderCellDef cdk-header-cell>Время назначения</th>
    <td *cdkCellDef="let assignment" cdk-cell>
<!--      {{ assignment.assignedAt | date : "HH:mm dd.MM.yy" }}-->
      {{ assignment.assignedAt | date : "dd.MM.yy HH:mm" }}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="description">
    <th *cdkHeaderCellDef cdk-header-cell>Описание</th>
    <td *cdkCellDef="let assignment" cdk-cell>
      <!-- TODO fix slice with text truncate and table-layout auto -->
      <div class="text-truncate col-10">
        {{ assignment.exercise.contents | slice : 0 : 64   }}
      </div>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="status">
    <th *cdkHeaderCellDef cdk-header-cell>Статус</th>
    <td *cdkCellDef="let assignment" cdk-cell>
      @if (!assignment.finishedAt) {
        <span class="badge text-bg-primary">
          <i class="bi bi-plus-circle"></i>
          Новое
        </span>
      } @else {
        @switch (assignment.isPassed) {
          @case (true) {
            <span class="badge text-bg-success">
              <i class="bi bi-check-circle"></i>
              Решено верно
            </span>
          }
          @case (false) {
            <span class="badge text-bg-danger">
              <i class="bi bi-dash-circle"></i>
              Решено неверно
            </span>
          }
          @default {
            <span class="badge text-bg-secondary">
              <i class="bi bi-question-circle"></i>
              Не проверено
            </span>
          }
        }
      }
    </td>
  </ng-container>

  <ng-container cdkColumnDef="actions">
    <th *cdkHeaderCellDef cdk-header-cell>Действия</th>
    <td *cdkCellDef="let assignment" cdk-cell>
      <button class="btn btn-sm btn-dark">
        <i class="bi bi-box-arrow-up-right"></i>
        К заданию
      </button>
    </td>
  </ng-container>

  <tr *cdkHeaderRowDef="columns" cdk-header-row></tr>
  <tr class="align-baseline" *cdkRowDef="let row; columns: columns" cdk-row></tr>
</table>
