<div class="rounded">
  <div #editor class="rounded" style="min-height: 400px"></div>
</div>

<div class="bg-body-tertiary rounded mt-2">
  <div class="row justify-content-between g-1">
    <div class="col-auto">
      <button (click)="runCode()" class="btn btn-sm btn-success me-1">Запустить приложение</button>
      <button (click)="clearOutput()" class="btn btn-sm btn-secondary disabled">Очистить вывод</button>
    </div>
    <div class="col-auto">
      <button (click)="solved()" class="btn btn-sm btn-primary">Отправить решение</button>
    </div>
  </div>
</div>
