<div class="container min-vh-100 d-flex align-items-center">
  <div class="row g-4 justify-content-center align-items-center">

    <div class="col-7">

      <div class="p-3">
        <div class="text-center text-uppercase">
          <h1>Python trainer</h1>
          <h5>Интеллектуальный адаптивный тренажер</h5>
        </div>

        <div class="mt-3 text-center">
          <a *ngIf="!isLoading && currentUser$.value" routerLink="assignments" class="btn btn-dark">
            Перейти к тренажеру
          </a>

          <a *ngIf="!isLoading && !currentUser$.value" [href]="authLink" class="btn btn-dark"
             [class.disabled]="authLink === null">
            Войти в систему
          </a>

          <a *ngIf="isLoading" class="btn btn-dark disabled">
            Загрузка информации о пользователе
            <div class="spinner-border spinner-border-sm" role="status"></div>
          </a>
        </div>
      </div>

    </div>

    <div class="col-5">
      <div class="row gy-3 flex-column">

        <div class="col">
          <section class="h-100 p-3 rounded">
            <h4>
              Адаптивный
            </h4>

            <p>
              В приложении присутствуют рейтинг пользователей и три сложности заданий: упрощенная, стандартная и
              усложненная. Пользователь будет получать задания соответствующие его текущему рангу. Как только
              пользователь перейдет верхнюю границу последнего ранга тренажер успешно завершен.
            </p>
          </section>
        </div>

        <div class="col">
          <section class="h-100 p-3">
            <h4>
              Интеллектуальнный
            </h4>

            <p>
              Изменения рейтинга, от которого зависит ранг пользователя, происходят после проверки при помощи нейросети
              первого отправленного решения. Значение, на которое изменится рейтинг зависит от успешности выполнения
              текущего задания, успешности выполнения прошлых заданий и текущего рейтинга пользователя. В случае
              неверного решения, нейросеть выдаст список ошибок (до 3 штук) и подсказки по их устранению.
            </p>
          </section>
        </div>

        <div class="col">
          <section class="h-100 p-3">
            <h4>
              Руководство пользования
            </h4>

            <p>
              На главной странице пользователь видит назначенные ему задания, если заданий нет, пользователь должен
              получить новое задание. Пользователь может выбрать тему, которая обязательна должна присутствовать в новом
              задании, или получить задание с случайным набором тем из тех, которые назначены пользователю (в данном
              тесте всем пользователям назначены 4 темы)
            </p>
          </section>
        </div>

      </div>
    </div>

  </div>
</div>
